<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="card-header" >
        <h2><a th:href="@{'/login_form'}" class="btn btn-primary">Войти</a></h2>
        <div align="center">
            <h2>Каталог продукции</h2>
        </div>
        <form method="post" th:action="@{'/search'}">
            <div class="input-group mb-3" >
                <input type="number" name="id" id="id" class="form-control" placeholder="Поиск по id..." aria-label="search" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="submit" >Искать</button>
            </div>
        </form>
    </div>
    <hr>

    <table class="table table-striped">
        <tr>
            <h2><a th:href="@{'/add'}" class="btn btn-primary">Внести изменения</a></h2>

        </tr>
        <thead>
        <tr>
            <th scope="row"></th>
            <th scope="col">ID</th>
            <th scope="col">Наименование</th>
            <th scope="col">Цена</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="p : ${products}">

                <th scope="row"></th>
                <td th:text="${p.id}" ></td>
                <td th:text="${p.title}"></td>
                <td th:text="${p.price + ' рублей'}"></td>
                <td><a class="btn btn-primary" th:href="@{'/buy/' + ${p.id}}">В корзину</a></td>

        </tr>
        </tbody>
    </table>

<div class="footer card-footer">

    <div class="sum">
        <h4 th:text="${'Общее количество позиций: ' + products.size()}"></h4>
    </div>
</div>
</div>
</body>
</html>